
  .colorBackgroundBallContainer{
    position: absolute;
    left: 28%;
    bottom: 0%;
    opacity: 0.3;
  
    animation: rotate 20.5s linear infinite;
    @media screen and (max-width: 480px) {
      left: 0%;
      bottom: 20%;
      opacity: 0.3;
    }
    .circle {
      cursor: pointer;
      animation: rotation 4.5s infinite linear;
      position: relative;
      width: 90vmin;
      margin: 0 auto;
      border-radius: 50%;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-box-shadow: inset 10.2840516701vmin -5.9375vmin 0vmin 0vmin rgba(255, 0, 0, 0.45),
        inset -10.2840516701vmin -5.9375vmin 0vmin 0vmin rgba(235, 255, 0, 0.54),
        inset 0 11.875vmin 0vmin 0vmin rgba(0, 133, 255, 0.53),
        inset -10.2840516701vmin 5.9375vmin 0vmin 0vmin rgba(22, 243, 3, 0.55),
        inset 10.2840516701vmin 5.9375vmin 0vmin 0vmin rgba(190, 11, 224, 0.55),
        inset 0 -11.875vmin 0vmin 0vmin rgba(253, 127, 11, 0.54);
      box-shadow: inset 10.2840516701vmin -5.9375vmin 0vmin 0vmin rgba(255, 0, 0, 0.45),
        inset -10.2840516701vmin -5.9375vmin 0vmin 0vmin rgba(235, 255, 0, 0.54),
        inset 0 11.875vmin 0vmin 0vmin rgba(0, 133, 255, 0.53),
        inset -10.2840516701vmin 5.9375vmin 0vmin 0vmin rgba(22, 243, 3, 0.55),
        inset 10.2840516701vmin 5.9375vmin 0vmin 0vmin rgba(190, 11, 224, 0.55),
        inset 0 -11.875vmin 0vmin 0vmin rgba(253, 127, 11, 0.54);
      -webkit-animation: spin 120s linear infinite;
      animation: spin 120s linear infinite;
      @media screen and (max-width: 1400px) {
        width: 100vmin;
      }
    }
    .circle:hover {
      -webkit-box-shadow: inset 20.5681033403vmin -11.875vmin 0vmin 0vmin rgba(255, 0, 0, 0.45),
        inset -20.5681033403vmin -11.875vmin 0vmin 0vmin rgba(235, 255, 0, 0.54),
        inset 0 23.75vmin 0vmin 0vmin rgba(0, 133, 255, 0.53),
        inset -20.5681033403vmin 11.875vmin 0vmin 0vmin rgba(22, 243, 3, 0.55),
        inset 20.5681033403vmin 11.875vmin 0vmin 0vmin rgba(190, 11, 224, 0.55),
        inset 0 -23.75vmin 0vmin 0vmin rgba(253, 127, 11, 0.54);
      box-shadow: inset 20.5681033403vmin -11.875vmin 0vmin 0vmin rgba(255, 0, 0, 0.45),
        inset -20.5681033403vmin -11.875vmin 0vmin 0vmin rgba(235, 255, 0, 0.54),
        inset 0 23.75vmin 0vmin 0vmin rgba(0, 133, 255, 0.53),
        inset -20.5681033403vmin 11.875vmin 0vmin 0vmin rgba(22, 243, 3, 0.55),
        inset 20.5681033403vmin 11.875vmin 0vmin 0vmin rgba(190, 11, 224, 0.55),
        inset 0 -23.75vmin 0vmin 0vmin rgba(253, 127, 11, 0.54);
    }
    .circle:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    transition: 0.4s all ease-in-out;
  }
  .container:hover {
    animation: rotate 60.5s linear infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  